.App {
	width: 100%;
	height: 100%;
	padding: 0%;
	margin: 0%;
	background-color: blueviolet;
}
.calculations {
	background-color: aquamarine;
}
.answers {
	background-color: blue;
	width: 400px;
}
.connection {
	height: 10vh;
}
/* TODO изменить цветавую схему */
